.header {
  min-width: 70vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 2rem;
}

.header .headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.header .heading {
  font-size: clamp(2rem, 4.5vw, 3.5rem);
}

.header .subheading {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  color: var(--text-secondary);
}

.header .links {
  display: flex;
  gap: 2em;
}

.header-svg {
  width: clamp(1.9em, 2.6vw, 2.6em);
  height: clamp(1.4em, 2.6vw, 1.9em);
}
