.experience-item-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.experience-item-container:last-child .timeline-tail{
    background: none;
}

.experience-item-date {
    min-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 1rem;
    text-align: end;
    flex: 0 0 6rem;
}

.timeline-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-tail{
    background: #ffffff;
    width: 0.04rem;
    transform: translate(0, 1rem);
}

.timeline-head {
    transform: translate(-50%, -100%);
    width: 1.4rem;
    height: 1.4rem;
    background: #ffffff;
    border-radius: 50%;
}
