.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}