.page {
  --background: #20252B;
  --foreground: ##ffffff;

  --text-primary: ##ffffff;
  --text-secondary: #666;

  --text-weight-bold: bolder;
  --text-weight-regular: normal;
  --text--weight--ligher: lighter;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);

  padding: 3rem;
}