.page {
  --background: #20252B;
  --foreground: ##ffffff;

  --text-primary: ##ffffff;
  --text-secondary: #E0E0E0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);

  padding: 3rem 0;
}